img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
}
p{
  text-align: center;
  font-size: large;
}
button {
    width: 13%;
    height: 50px;
    margin-top: 10px;
    margin-left: 43%;

    // background-image: linear-gradient(to right, #1a1d6c, #00b790);
    padding: 5px;
    font-size: 18px;

    border-radius: 5px;
    background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    border: none;
    margin-top: 124px;
    margin-bottom: 20px;
    width: 241px;
    height: 58px;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
    // &:hover {
    //   // background-image: linear-gradient(to right, #00b790, #1a1d6c);
    // }
  }
  .no-data{
    // @include flex(center,center);
    flex-direction: column;
    min-height: 100vh;
    // background: $white;
    .no-data-text{
        font-size: 26px;
    text-shadow: 0px 0px 68px #0000008c;
    font-weight: 500;
    padding: 10px;
    // color: $primary;
    }
}
